* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --padding: 3rem 4rem;
    --transition: .2s
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

h1 {
    background: linear-gradient(90deg, #85D9CA 0%, #FFC4F2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

button {
    cursor: pointer;
    background: transparent;
    border: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    display: block;
}

input {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    border: 0;
    border-radius: 5px;
    width: 100%;
    outline: none;
}


body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: radial-gradient(60% 100% at 50% 0%, #576D81 0%, #3E3A59 100%);

}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carteira-container {
    min-width: 100vw;
    min-height: 100vh;
    background: url('../bg.svg');
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15vh 85vh;
}

.header {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    display: flex;
    padding: var(--padding);
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(49, 43, 69, 0.5);
}

.itens {
    padding: var(--padding);
    grid-column: 1;
    grid-row: 2;
    overflow: auto;
    padding-bottom: 6rem;
}

.btns_container {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.btns {
    text-align: left;
    display: flex;
    align-items: center;
    max-width: 40%;
}

.btns:hover,
.made-by a:hover {
    color: #85D9CA;
    transition: var(--transition);
}

.made-by a {
    display: flex;
    align-items: center;
}

.made-by img {
    margin-left: .5rem;
}

#btn_1::before,
#btn_2::before {
    display: inline-block;
    position: relative;
    margin-right: 1rem;
}

#btn_2 {
    margin-left: 2rem;
}

#btn_1::before {
    content: url('../piggy-bank.svg');
}

#btn_2::before {
    content: url('../list-ul.svg');
}

.add_valor input {
    border: 1px solid #85D9CA;
    padding: 1rem;
    font-size: 1.1rem;
}

.add_valor input::placeholder {
    color: #85D9CA;
    font-size: 0.9rem;
}

.add_valor input+input {
    margin-top: 1rem;
}

.add_valor_receitas,
.historico_receitas {
    margin-bottom: 5rem;
}

.add_valor {

    display: block;
}

.add_btn {
    padding: 1rem 2.5rem;
    border-radius: 5px;
    border: 1px solid #85D9CA;
    margin-top: 1rem;
    color: #85D9CA;
    background: rgba(133, 217, 202, 0.07);
    transition: var(--transition);
    margin-left: auto;
}

.add_btn:hover {
    background: rgba(255, 255, 255, 0.07);
    border-color: white;
    color: white
}

.title {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    opacity: 0.6;
}

.historico .tooltip_container+.tooltip_container {
    margin-left: 1.5rem;
}

.historico li {
    padding: 1rem 0;
}

.historico input {
    margin-right: 3rem;
    border: 1px solid transparent;
    padding: 0.5rem
}

.historico input::placeholder {
    color: #85D9CA;
}

.valor {
    display: flex;
    margin-left: auto;
    text-align: right;
    align-items: center;
}

.valor input {
    text-align: right;
    margin-left: .5rem;
    min-width: 10px;
}

.valor input::placeholder {
    color: white
}

.carteira {
    border-left: 2px solid rgba(49, 43, 69, 0.5);
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
    place-items: center;
    text-align: center;
}

.total {
    grid-column: 1 / -1;
}

.carteira_valor {
    font-weight: bold;
    font-size: 1.4rem;
}

.total .carteira_valor {
    font-size: 4rem;
    background: linear-gradient(90deg, #85D9CA 0%, #FFC4F2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
    border: 1px solid rgba(133, 217, 202, 0.301)
}

::-webkit-scrollbar-thumb:hover {
    border: 1px solid rgba(133, 217, 202, 1);
    background: rgba(133, 217, 202, 0.07);
}

.tooltip_container {
    position: relative;
}

.tooltip {
    display: none;
    position: absolute;
    right: 0;
    top: 2.5rem;
    padding: .5rem 1rem;
    border: 1px solid rgba(133, 217, 202, 1);
    background: rgba(133, 217, 202, 0.2);
    border-radius: 5px;
    width: max-content;
    color: white;
    backdrop-filter: blur(10px);
    animation: tooltip .3s forwards;
}

.tooltip_container button:hover~.tooltip {
    display: block;
}

@keyframes tooltip {
    100% {
        right: -1rem;
    }
}

.editing input {
    padding: .5rem;
    border: 1px solid #85D9CA
}

.alert {
    position: absolute;
    top: 2rem;
    right: 0;
    left: 0;
    max-width: 20rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid currentColor;
    backdrop-filter: blur(6px);
    font-size: 1.2rem;
    display: none;
}

.alert.red {
    color: rgb(255, 138, 123);
    background: rgba(255, 83, 83, 0.1);
}

.alert.yellow {
    color: rgb(255, 224, 123);
    background: rgba(255, 238, 83, 0.1);
}

.alert.green {
    color: rgb(182, 255, 123);
    background: rgba(112, 255, 83, 0.1);
}

.section_itens {
    display: none;
}

.section_itens.ativo {
    display: block;
}