* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --transition: .2s;
    --cor1: #85b0d3;
    --cor2: #454068;
    --cor3: rgba(69, 58, 102, 0.5);
    --cor4: #afd6f7;
    --cor5: rgba(120, 164, 189, 0.1);
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

h1 {
    background: linear-gradient(90deg, var(--cor1) 0%, #FFC4F2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

button {
    cursor: pointer;
    background: transparent;
    border: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    display: block;
}

input {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    border: 0;
    border-radius: 5px;
    width: 100%;
    outline: none;
    transition: .2s;
}

label {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: radial-gradient(60% 100% at 50% 0%, #5d7892 0%, #454068 100%);

}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn-carteira {
    display: none;
}

.carteira-container {
    min-width: 100vw;
    min-height: 100vh;
    background: url('../bg.svg');
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15vh 85vh;
}

.carteira-container::before,
.carteira-container::after {
    content: '';
    background: #FFC3F2;
    display: block;
    position: absolute;
    width: 5rem;
    height: 5rem;
    filter: blur(80px);
    -webkit-filter: blur(80px);
}

.carteira-container::before {
    top: 10rem;
    left: -1rem;
}

.carteira-container::after {
    bottom: 0;
    right: 0;
}

.header {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    display: flex;
    padding: 3rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--cor3);
}

.itens {
    padding: 3rem;
    grid-column: 1;
    grid-row: 2;
    overflow: auto;
    padding-bottom: 6rem;
}

.btns_container {
    display: flex;
    align-items: stretch;
    margin-bottom: 5rem;
}

.btns {
    text-align: left;
    display: flex;
    align-items: center;
    max-width: 50%;
    border: 1px solid transparent;
    padding: .8rem;
    border-radius: 5px;

}

.btns svg {
    margin-right: 1rem;
    min-width: 25px;
    max-width: 25px;
}

.made-by {
    display: flex;
}

.made-by a:hover {
    transition: var(--transition);
    color: var(--cor4);
}

.btns:hover {
    color: var(--cor4);
    transition: var(--transition);
    background: var(--cor5);
    box-shadow: 0 0 50px 0 rgba(62, 58, 89, 0.3);
    border-color: var(--cor4);
}

.btns:active {
    color: white;
    border-color: white;
    background-color: rgb(255, 255, 255, 0.1);
}

.made-by a {
    display: flex;
    align-items: center;
    margin-left: .3rem;
}

.made-by svg {
    margin-left: .5rem;
}


#btn_2 {
    margin-left: 2rem;
}

.add_valor input {
    border: 1px solid var(--cor1);
    padding: 1rem;
    font-size: 1.1rem;
}

.add_valor input::placeholder {
    color: var(--cor1);
    font-size: 0.9rem;
}

.add_valor input+input {
    margin-top: 1rem;
}

.add_valor_receitas {
    margin-bottom: 5rem;
}

.historico_receitas {
    margin-bottom: 3rem;
}

.historico_despesas {
    border-top: 2px solid var(--cor5);
    padding-top: 3rem;

}

.add_valor {

    display: block;
}

.add_btn {
    padding: 1rem 2.5rem;
    border-radius: 5px;
    border: 1px solid var(--cor1);
    margin-top: 1rem;
    color: var(--cor1);
    background: var(--cor5);
    transition: var(--transition);
    margin-left: auto;
}

.add_btn:hover {
    background: rgba(255, 255, 255, 0.07);
    border-color: white;
    color: white
}

.add_btn:active {
    color: var(--cor4);
    background: var(--cor5);
    border-color: var(--cor4);
}

.title {
    font-size: 1.2rem;
    opacity: 0.6;
}

.add_valor .title {
    margin-bottom: 2rem;
}

.historico .tooltip_container+.tooltip_container {
    margin-left: 1.5rem;
}

.historico li {
    padding: 1rem 0;
}

.historico input {
    margin-right: 3rem;
    border: 1px solid transparent;
    padding: 0.5rem
}

.historico input::placeholder {
    color: var(--cor1);
}

.valor {
    display: flex;
    margin-left: auto;
    text-align: right;
    align-items: center;
}

.valor input {
    margin-left: .5rem;
    min-width: 6rem;
}

.valor input::placeholder {
    color: white
}

.carteira {
    border-left: 2px solid var(--cor3);
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    padding: 5rem;
    place-items: center;
    text-align: center;
}

.carteira .title {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.total {
    grid-column: 1 / -1;
    margin-bottom: -7rem;
}

.total_recebido,
.total_gasto {
    border: 1px solid var(--cor1);
    width: 100%;
    border-radius: 5px;
    padding: 2rem 1rem;
    box-shadow: 0 0 50px 0 rgba(62, 58, 89, 0.3);
}

.carteira_valor {
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    border: 1px solid red;
}

.total .carteira_valor {
    font-size: 4rem;
    background: linear-gradient(90deg, var(--cor1) 0%, #FFC4F2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    max-width: 30rem;
}

.total_gasto .carteira_valor,
.total_recebido .carteira_valor {
    width: 100%;
    max-width: 10rem;
}

.carteira_valor span {
    margin-left: .5rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
    border: 1px solid var(--cor5)
}

::-webkit-scrollbar-thumb:hover {
    border: 1px solid var(--cor1);
    background: var(--cor5)
}

.tooltip_container {
    position: relative;
}

.tooltip {
    display: none;
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    padding: .5rem 1rem;
    border: 1px solid var(--cor1);
    background: var(--cor5);
    border-radius: 5px;
    width: max-content;
    color: var(--cor4);
    animation: tooltip .3s forwards;
}

.tooltip_container button:hover~.tooltip {
    display: block;
}

@keyframes tooltip {
    100% {
        right: 0;
    }
}

.editing input {
    padding: .5rem;
    border: 1px solid var(--cor1)
}

.alert {
    position: absolute;
    top: 1rem;
    right: 0;
    left: 0;
    max-width: 20rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid currentColor;
    backdrop-filter: blur(6px);
    font-size: 1rem;
    display: none;
    animation: alert .2s forwards;
}

@keyframes alert {
    100% {
        top: 2rem;
    }
}

.alert[data-type='bad'] {
    color: rgb(255, 160, 160);
    background: rgba(255, 137, 137, 0.1);
}

.alert[data-type='attention'] {
    color: rgb(253, 255, 162);
    background: rgba(247, 255, 135, 0.1);
}

.alert[data-type='good'] {
    color: rgb(201, 255, 157);
    background: rgba(172, 255, 155, 0.1);
}

.section_itens {
    display: none;
    position: relative;
    right: 1rem;

}

.section_itens.ativo {
    display: block;
    animation: tooltip .3s forwards;
}

.carteira.ativo {
    display: grid;
}

input:hover,
input:focus {
    border-color: white;
    background: rgba(255, 255, 255, 0.07);
}

input::placeholder {
    transition: .2s
}

input:hover::placeholder,
input:focus::placeholder {
    color: white
}

.header-historico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

}

.remover-tudo {
    opacity: 0.7;
    font-size: 0.8rem;
    padding: 0.2rem;
    transition: var(--transition);
}

.remover-tudo:hover {
    opacity: 1;
}

.remover-tudo:active {
    color: var(--cor4)
}

@media all and (max-width: 1150px) {
    .carteira {
        grid-gap: 1rem;
        padding: 3rem;
    }

    .total_recebido,
    .total_gasto {
        padding: 1rem;
    }

}

@media all and (max-width: 990px) {

    .header {
        flex-direction: column;
        justify-content: center;
    }

    .btns svg {
        margin: 0 auto
    }

    .btns_container {
        justify-content: center;
    }

    .btns {
        flex-direction: column;
        font-size: 0.8rem;
        text-align: center;
        width: 25%
    }

    .btns p {
        margin-top: 1rem;
    }

    #btn-carteira {
        display: flex;
    }

    .made-by {
        margin-top: .5rem;
    }

    :root {
        --padding: 4rem
    }

    .carteira-container {
        grid-template-columns: 1fr;
        grid-template-rows: 20vh 80vh;
    }

    .carteira {
        grid-column: 1;
        display: none;
        margin-top: 44vh;
        height: 100%;
        place-items: start center
    }
}

@media all and (max-width: 770px) {
    .btns {
        flex-direction: column;
        font-size: 0.8rem;
        text-align: center;
        width: 25%;
        flex: 1
    }

    .header,
    .itens {
        padding: 1.5rem
    }
}

@media all and (max-width: 520px) {
    .btns p {
        display: none;
    }

    .btns {
        margin-top: 1rem;
    }
}